body {
  // margin:5% 20%;
  font-family: 'Open Sans', sans-serif;
  // align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  p {
    font-size: 20px;
    color: hsl(236, 13%, 42%)
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
